<div class="container">
    <div class="row">
        <div class="com-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 *ngIf="editid">
                        Update 
                    </h1>
                    <h1 *ngIf="!editid">
                        Sign -Up
                    </h1>
                    <h6 *ngIf="!editid">
                       Register Yourself  </h6>
                </div>
            
                    <form [formGroup]="signup" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">FullName</label>
                            <input type="text" class="form-control" formControlName="fullname">
                            
                            <div *ngIf="m['fullname'].errors && submitted" style="color: red;">
                              Fullname Required
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Mobile No</label>
                            <input type="text" class="form-control"   pattern="^(?!0+$)\d{10,}$" 
                            maxlength="10"
                            formControlName="mob">
                            <div *ngIf="m['mob'].errors?.['required'] && submitted" style="color: red;">
                              Mobile Required
                            </div>
                            <div *ngIf="m['mob'].errors?.['pattern']" style="color: red;">
                              Mobile Invalid
                            </div>
                          </div>

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" 
                          formControlName="email" [pattern]="emailPattern">
                          <div *ngIf="m['email'].errors && submitted" style="color: red;">
                            Email Required
                          </div>
                          <div *ngIf="m['email'].errors?.['pattern']">
                           Email Invalid
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" 
                          formControlName="password">
                          <div *ngIf="m['password'].errors && submitted" style="color: red;">
                            Password Required
                          </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">   {{editid ? 'Update' : 'SignUp'}}</button>
                      </form>
                <a routerLink="/login">Already register ? Click to Login</a>
            </div>
        </div>
    </div>
</div>
